P3_Client/src/conf/xml-resources/web-service-references/WSDatabase/wsdl/localhost_8080/P3_Backend/WSDatabase.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://model.backend.p3.daligz.upp.me/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://model.backend.p3.daligz.upp.me/" name="WSDatabase">
<types>
<xsd:schema>
<xsd:import namespace="http://model.backend.p3.daligz.upp.me/" schemaLocation="http://localhost:8080/P3_Backend/WSDatabase?xsd=1"/>
</xsd:schema>
</types>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="read">
<part name="parameters" element="tns:read"/>
</message>
<message name="readResponse">
<part name="parameters" element="tns:readResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<portType name="WSDatabase">
<operation name="update">
<input wsam:Action="http://model.backend.p3.daligz.upp.me/WSDatabase/updateRequest" message="tns:update"/>
<output wsam:Action="http://model.backend.p3.daligz.upp.me/WSDatabase/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://model.backend.p3.daligz.upp.me/WSDatabase/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://model.backend.p3.daligz.upp.me/WSDatabase/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="read">
<input wsam:Action="http://model.backend.p3.daligz.upp.me/WSDatabase/readRequest" message="tns:read"/>
<output wsam:Action="http://model.backend.p3.daligz.upp.me/WSDatabase/readResponse" message="tns:readResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://model.backend.p3.daligz.upp.me/WSDatabase/createRequest" message="tns:create"/>
<output wsam:Action="http://model.backend.p3.daligz.upp.me/WSDatabase/createResponse" message="tns:createResponse"/>
</operation>
</portType>
<binding name="WSDatabasePortBinding" type="tns:WSDatabase">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="read">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSDatabase">
<port name="WSDatabasePort" binding="tns:WSDatabasePortBinding">
<soap:address location="http://localhost:8080/P3_Backend/WSDatabase"/>
</port>
</service>
</definitions>