ServletApp/web/WEB-INF/wsdl/localhost_8080/CalculadoraWS_2/WSCalc.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pkgServicio.calculadoraws2.daligz.upp.me/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pkgServicio.calculadoraws2.daligz.upp.me/" name="WSCalc">
<types>
<xsd:schema>
<xsd:import namespace="http://pkgServicio.calculadoraws2.daligz.upp.me/" schemaLocation="http://localhost:8080/CalculadoraWS_2/WSCalc?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="multiplicar">
<part name="parameters" element="tns:multiplicar"/>
</message>
<message name="multiplicarResponse">
<part name="parameters" element="tns:multiplicarResponse"/>
</message>
<portType name="WSCalc">
<operation name="hello">
<input wsam:Action="http://pkgServicio.calculadoraws2.daligz.upp.me/WSCalc/helloRequest" message="tns:hello"/>
<output wsam:Action="http://pkgServicio.calculadoraws2.daligz.upp.me/WSCalc/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://pkgServicio.calculadoraws2.daligz.upp.me/WSCalc/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://pkgServicio.calculadoraws2.daligz.upp.me/WSCalc/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="multiplicar">
<input wsam:Action="http://pkgServicio.calculadoraws2.daligz.upp.me/WSCalc/multiplicarRequest" message="tns:multiplicar"/>
<output wsam:Action="http://pkgServicio.calculadoraws2.daligz.upp.me/WSCalc/multiplicarResponse" message="tns:multiplicarResponse"/>
</operation>
</portType>
<binding name="WSCalcPortBinding" type="tns:WSCalc">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSCalc">
<port name="WSCalcPort" binding="tns:WSCalcPortBinding">
<soap:address location="http://localhost:8080/CalculadoraWS_2/WSCalc"/>
</port>
</service>
</definitions>